<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>OfflineFirst</key>
    <true/>
    <key>UsesServer</key>
    <false/>
    <key>UsesAds</key>
    <false/>
    <key>UsesThirdPartyAnalytics</key>
    <false/>
</dict>
</plist>
